@charset "UTF-8";
@font-face {
    font-family: Oswald-Regular;
    font-weight: 100;
    src: url('Oswald-Regular.ttf');
}
@font-face {
    font-family: Oswald-Light;
    font-weight: 100;
    src: url('Oswald-Light.ttf');
}
@font-face {
    font-family: Oswald-Medium;
    font-weight: 100;
    src: url('Oswald-Medium.ttf');
}
@font-face {
    font-family: Oswald-MediumItalic;
    font-weight: 100;
    src: url('Oswald-MediumItalic.ttf');
}
@font-face {
    font-family: Oswald-SemiBold;
    font-weight: 100;
    src: url('Oswald-SemiBold.ttf');
}
@font-face {
    font-family: Oswald-Bold;
    font-weight: 100;
    src: url('Oswald-Bold.ttf');
}
@font-face {
    font-family: Oswald-Heavy;
    font-weight: 100;
    src: url('Oswald-Heavy.ttf');
}
@font-face {
    font-family: Montserrat-Light;
    font-weight: 100;
    src: url('Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat-Regular;
    font-weight: 100;
    src: url('Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-Medium;
    font-weight: 100;
    src: url('Montserrat-Medium.ttf');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
    text-align: center;
    font-family: Montserrat-Regular, sans-serif;
    transition: .5s;
}
body {
    background-color: white;
    overflow-x: hidden;
}
::selection {
    background: #606E7D;
}
::-moz-selection {
    background: #606E7D;
}
#shell {
    width: 100%;
    height: 100%;
}
/*------------Desktop------------*/
/*------Nav Bar------*/
#navBar {
    width: 100vw;
    height: 65px;
    background-color: #21222A;
    position: fixed;
    top: 0;
    z-index: 99;
}
#navBarShell {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#blurryLogo {
    height: 55%;
    margin-top: 15px;
    fill: white;
    transition: .05s;
}
#blurryLogo:hover {
    fill: #AE8862;
    transition: .05s;
    cursor: pointer;
}
#desktopMenu {
    width: 100%;
    margin-top: -35px;
}
#mobileMenuLinks {
    display: none;
}
.menuList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menuList a {
    text-decoration: none;
}
.menuList li:hover {
    color: #AE8862;
}
.menuList li {
    list-style: none;
    display: inline;
    color: white;
    font-family: Oswald-Regular,sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
}
#menuLeft {
    float: left;
    width: 40%;
}
#logoSpace {
    width: 13vw;
    opacity: 0;
    float: left
}
#menuRight {
    width: 40%;
    float: left;
}
/*------Mobile Nav------*/
#mobileMenu {
    display: none;
}
#mobileMenu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.toggle #line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle #line2 {
    opacity: 0;
    transition: .25s;
}
.toggle #line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
/*------Masthead------*/
#masthead {
    width: 100%;
    height: 100vh;     
    background-color: black;
}
#mastheadImage {
    width: 100%;
    height: auto; 
    position: relative;
}
#mastheadTextShell {
    width: 70%;
    margin-left: auto;
    margin-right: auto;    
}
#mastheadText {
    top: 125px;
    position: absolute;
    padding-top: 5%;
}
#mastheadText h1 {
    color: white;
    font-family: Oswald-Heavy, sans-serif;
    font-size: 15vw;    
    letter-spacing: -.5vw;
    line-height: 11vw;
    text-align: left;
}
#mastheadText h4 {
    color: white;
    font-family: Oswald-MediumItalic, sans-serif;
    font-size: 3.5vw;
    text-align: left;
    margin-left: 10px;
    padding-top: 2vw;
}
#masthead img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.35;
}
#colorText {
    color: #AE8862;
    font-family: Oswald-MediumItalic, sans-serif;
    font-size: 3.5vw;
    text-decoration: none;
}
#colorText:hover {
    color: #616F7E;
}
/*------New Album------*/
#albumSection {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}
#albumHeader {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    position: absolute;
    display: inline-block;
    margin-top: 23vh;
}
#albumHeader h2 {
    font-family: Oswald-SemiBold, sans-serif;
    font-size: 7vw;
    line-height: 8vw;    
}
#albumHeader h5 {
    font-family: Oswald-Medium, sans-serif;
    font-size: 1.5vw;    
}
#albumImage {
    width: 100%;
}
#albumImage img {
    width: 25%;
    position: relative;
    margin-left: -30vw;
    padding-top: 15vh;
    transition: .5s;
}
#albumImage a img:hover {
    opacity: .75;
    width: 27%;
    transition: .5s;
}
#albumButtonShell {
    width: 100%;    
}
#albumButton {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vw;
}
#listenNow {
    width: 250;
    height: 60px;
    background-color: #817263;
    color: white;
    font-family: Oswald-Regular, sans-serif;
    position: relative;
    float: left;
    font-size: 30px;
    z-index: 10;
    margin-left: 2.5vw;
}
#albumButtonShellM {
    display: none;
}
#listenNow:hover {
    cursor: pointer;
    background-color: #21222A;
}
/*------Shows------*/
#showsSection {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background-color: #616F7E;
    color: white;  
}
#showsSection a, a:visited {
    text-decoration: none;
    color: white;
}
#showsSection h2 {
    text-align: center;
    font-family: Oswald-SemiBold, sans-serif;
    font-size: 7vw;
    padding-top: 2vw;
}
#showsContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.showDate {
    background-color: #817263;
    width: 100px;
    height: auto;
}
.showDateTitle {
    text-align: center;
    font-family: Oswald-Medium, sans-serif;
    font-size: 20px;   
}
.showVenue {
    text-align: left;
    float: left;
    margin-left: 125px;
    margin-top: -32px;
}
.showVenueTitle {
    font-family: Oswald-Light, sans-serif;
    font-size: 20px;    
}
.ShowCity {
    float: right;
    margin-top: -25px;
    padding-right: 15px;
}
.showCityTitle {
    font-family: Oswald-Light, sans-serif;
    font-size: 20px;
    text-align: right; 
}
.showItemContainer {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 4px dotted white;
}
.showItemContainer:hover {
    background-color: #817263;    
}
#showItemContainerNB {
    border-bottom: 0px;
}
/*------Blog------*/
#blogSection {
    width: 100%;
    height: auto;
}
#blogSection h2 {
    text-align: center;
    font-family: Oswald-SemiBold, sans-serif;
    font-size: 5vw;
    padding-top: 2vw; 
    padding-bottom: 1vw;
}
#blogPhoto {
    width: 40vw;
}
#blogText {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#blogText h4 {
    text-align: center;
    font-family: Oswald-SemiBold, sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    padding-top: 1vw; 
}
#blogTextP {
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vw;
    padding-bottom: 3vw;
}
#blogTextP p {
    text-align: center;
    font-family: Oswald-Regular, sans-serif;
    font-size: 1.45em;
}
/*------Social------*/
#socialSection {
    background-color: #AE8862;
    width: 100%;
}
#socialSection h2 {
    font-family: Oswald-SemiBold, sans-serif;
    color: white;
    font-size: 5vw;
    padding-top: 2vw; 
}
#socialSection a {
    font-family: Oswald-Bold, sans-serif;
    font-size: 1.45vw;
    color: white;
    text-transform: uppercase; 
    text-decoration: none;
}
#socialSection a:hover {
    color: #21222A;
}
#socialContentContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vw;
}
.socialGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}
.socialImage {
    padding: 10px 20px 20px 10px;
    width: calc(100%/4);
    opacity: .75;
    transition: .5s;
}
.socialImageLink img:hover {
    opacity: 1;
    width: calc(100%/3.75);
    margin-bottom: -20px;
    transition: .5s;
}
#space {
    height: 20px;
}
/*------Get Updates------*/
#updatesSections {
    height: auto;
    width: 100%;
}
#updatesButton {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
#getUpdatesButton {
    width: 250;
    height: 60px;
    background-color: #616F7E;
    color: white;
    font-family: Oswald-Regular, sans-serif;
    font-size: 30px;
}
#getupdatesButton:hover {
    cursor: pointer;
    background-color: #AE8862;
}
/*------Footer------*/
#footerSection {
    background-color: #21222A;
    width: 100%;
}
#footerSocials {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}
#footerSocials a svg {
    height: 20px;
    margin: 0 20px;
}
#footerSection p {
    color: white;
    font-size: .75em;
    padding-bottom: 30px;
}
/*-----------Responsive------------*/
@media screen and (max-width: 1150px) and (min-width: 880px) {
/*------Nav Bar------*/
.menuList li {   
    font-size: 1em;
}
#desktopMenu {
    margin-top: -30px;
}
/*------Album Section------*/
#albumHeader {
    padding-left: 7vw;
}
#albumImage img {
    width: 30%;
}
/*------Show Section------*/
#showsSection {
    height: auto;
    padding-bottom: 75px;
}
.ShowCity{
    margin-top: -30px;
}
.showItemContainer {
    padding-bottom: 30px;
    padding-top: 30px;
}
/*------Social Section------*/
.socialImage {
    width: calc(100%/3);
    padding: 5px 10px 10px 5px;
}
}
@media screen and (max-width: 950px) {
#blurryLogo:hover {
    fill: white;
}
.menuList li:hover {
    color: white;
}
}
@media screen and (max-width: 950px) and (min-width: 880px) {
#albumImage img {
    width: 33%;
}
#albumImage a img:hover {
    opacity: .75;
    width: 33%;
}
.showItemContainer {
    width: 60%;
}
}
@media screen and (max-width: 880px) {
/*------Album------*/
#albumSection {
    height: auto;
    padding-bottom: 75px;
}
#albumHeader {
    margin-top: 13vh;
}
#albumImage img {
    padding-top: 11vh;
}
.showItemContainer {
    width: 60%;
}
/*------Social Section------*/
#socialSection a {
    font-size: 2vw;
}
#socialContentContainer {
    width: 90%;
}
.socialImage {
    width: calc(100%/3);
    padding: 5px 10px 10px 5px;
}
.socialImageLink img:hover {
    width: calc(100%/3);
    padding: 5px 10px 10px 5px;
    opacity: .75;
    margin-bottom: 0;
}
}
@media screen and (max-width: 725px) {
#desktopMenu {
    margin-top: -30px;
}
.menuList li {
    font-size: 1em;
}
#listenNow {
    width: 210px;
}
.showItemContainer {
    width: 80%;
}
}
@media screen and (max-width: 600px) {
.menuList {
    display: none;
}
#masthead img {
    height: auto;
    width: 100vw;
    object-fit: cover;
    opacity: 0.5;
}
#masthead {
    height: auto;
}
#mobileMenuLinks {
    display: flex;
}
#navBar {
    height: 8vh;
    width: 100%;
    z-index: 99;
}
#mobileMenu {
    position: absolute;
    display: inline-block;
    right: 10vw;
}
.menuListM {
    position: absolute;
    height: 92vh;
    width: 60vw;
    right:0px;
    top: 8vh;
    background-color: #21222A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(100%);
}
.menuListM li {
    font-size: 1em;
    list-style: none;
    color: white;
    font-family: Oswald-Regular,sans-serif;
    text-transform: uppercase;
    padding: 20px;
}
.menuListM a {
     text-decoration: none;
     padding: 20px;
}
#albumSection {
    height: auto;
    padding-bottom: 50px;
}
#albumHeader {
    display: inline;
    position: relative;
    padding-top: 3vh;
}
#albumHeader h2 {
    font-size: 12vw;
    padding-bottom: 20px;
}
#albumHeader h5 {
    font-size: 4vw;
}
#listenNow {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
#albumImage img {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}
#albumImage a img:hover {
    width: 33%;
}
#showsSection h2 {
    padding-top: 5vh;
    font-size: 12vw;
}
#blogSection h2 {
    font-size: 10vw;
}
#blogSection h4 {
    font-size: 5vw;
}
#blogTextP {
    width: 95%;
}
#socialSection h2 {
    font-size: 12vw;
}
#socialSection a {
    font-size: 5vw;
}
.socialImage {
    width: calc(100%/2.25);
    padding: 2.5px 5px 5px 2.5px;
}
.socialImageLink img:hover {
    width: calc(100%/2.25);
    opacity: .75;
}
#footerSocials a svg {
    margin: 0 10px;
}
}
@media screen and (max-width: 485px) {
#mastheadText {
    top: 85px;
}
#mastheadText h1 {
    font-size: 18vw;
}
#mastheadText h4 {
    font-size: 6.5vw;
    margin-left: 0px;
}
#mastheadText h4 a {
    font-size: 6.5vw;
}
#showsSection {
    height: auto;
    padding-bottom: 50px;
}
.showCity {
    display: none;
}
.showVenue {
    float: none;
}
.showVenueTitle {
    text-align: right;
}
.showItemContainer {
    width: 90%;
}
#blogSection h4 {
    font-size: 7vw;
}
#blogPhoto {
    width: 80vw;
}
#blogTextP p {
    font-size: 1em;
}
#updatesButton {
    padding-top: 7vw;
    padding-bottom: 7vw;
}
#footerSection p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}