@charset "UTF-8";
@font-face {
    font-family: Oswald-Regular;
    font-weight: 100;
    src: url('Oswald-Regular.ttf');
}
@font-face {
    font-family: Oswald-Light;
    font-weight: 100;
    src: url('Oswald-Light.ttf');
}
@font-face {
    font-family: Oswald-Medium;
    font-weight: 100;
    src: url('Oswald-Medium.ttf');
}
@font-face {
    font-family: Oswald-MediumItalic;
    font-weight: 100;
    src: url('Oswald-MediumItalic.ttf');
}
@font-face {
    font-family: Oswald-SemiBold;
    font-weight: 100;
    src: url('Oswald-SemiBold.ttf');
}
@font-face {
    font-family: Oswald-ExtraLight;
    font-weight: 100;
    src: url('Oswald-ExtraLight.ttf');
}
@font-face {
    font-family: Oswald-Bold;
    font-weight: 100;
    src: url('Oswald-Bold.ttf');
}
@font-face {
    font-family: Oswald-Heavy;
    font-weight: 100;
    src: url('Oswald-Heavy.ttf');
}
@font-face {
    font-family: Montserrat-Light;
    font-weight: 100;
    src: url('Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat-Regular;
    font-weight: 100;
    src: url('Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-Medium;
    font-weight: 100;
    src: url('Montserrat-Medium.ttf');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
    text-align: center;
    font-family: Montserrat-Regular, sans-serif;
    transition: .5s;
}
body {
    background-color: white;
    overflow-x: hidden;
}
::selection {
    background: #606E7D;
}
::-moz-selection {
    background: #606E7D;
}
#shell {
    width: 100%;
    height: 100%;
}
/*------------Desktop------------*/
/*------Nav Bar------*/
#navBar {
    width: 100vw;
    height: 65px;
    background-color: #21222A;
    position: fixed;
    top: 0;
    z-index: 99;
}
#navBarShell {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#blurryLogo {
    height: 55%;
    margin-top: 15px;
    fill: white;
    transition: .05s;
}
#blurryLogo:hover {
    fill: #AE8862;
    transition: .05s;
    cursor: pointer;
}
#desktopMenu {
    width: 100%;
    margin-top: -35px;
}
#mobileMenuLinks {
    display: none;
}
.menuList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menuList a {
    text-decoration: none;
}
.menuList li:hover {
    color: #AE8862;
}
.menuList li {
    list-style: none;
    display: inline;
    color: white;
    font-family: Oswald-Regular,sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
}
#menuLeft {
    float: left;
    width: 40%;
}
#logoSpace {
    width: 13vw;
    opacity: 0;
    float: left
}
#menuRight {
    width: 40%;
    float: left;
}
/*------Mobile Nav------*/
#mobileMenu {
    display: none;
}
#mobileMenu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.toggle #line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle #line2 {
    opacity: 0;
    transition: .25s;
}
.toggle #line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
#musicSectionShell {
    width: 100%;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
#musicRecent {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5vh;
}
#musicSectionShell {
    width: 100%;
}
#musicSectionShell h3 {
    font-family: Oswald-SemiBold, sans-serif;
    font-size: 3vw;
}
#musicRecent {
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#musicPastShell {
    background-color: #616F7E;
    padding: 2.5vh 0 5vh 0;
}
#musicPastShell h5 {
    font-family: Oswald-SemiBold, sans-serif;
    font-size: 3vw;
    text-transform: uppercase;
    color: white;
    padding-bottom: 10px;
}
#albumImage {
    padding: 20px;
}
#albumImage img {
    height: 60vh;
}
#albumPlayer {
    padding: 20px;
    width: 40%;
}
#albumPlayer iframe {
    width: 100%;
    height: 60vh;
}
#updatesSections {
    height: auto;
    width: 100%;
}
#updatesSections h3 {
    font-family: Oswald-SemiBold, sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    padding-top: 1vw; 
}
#updatesButton {
    padding-top: 1vw;
    padding-bottom: 2vw;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#getUpdatesButton {
    width: 175;
    height: 60px;
    background-color: #616F7E;
    color: white;
    font-family: Oswald-Regular, sans-serif;
    font-size: 30px;
    margin-left: 10px;
}
#getupdatesButton:hover {
    cursor: pointer;
    background-color: #AE8862;
}
#emailInput {
    border: solid 1.5px #21222A;
    text-align: left;
    padding: 5px;
    height: 60px;
}
/*------Footer------*/
#footerSection {
    background-color: #21222A;
    width: 100%;
}
#footerSocials {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}
#footerSocials a svg {
    height: 20px;
    margin: 0 20px;
    fill: white;
}
#footerSocials a svg:hover {
    fill: #AE8862;
    transition: .01s;
}
#footerSection p {
    color: white;
    font-size: .75em;
    padding-bottom: 30px;
}
@media screen and (max-width: 1150px) and (min-width: 880px) {
/*------Nav Bar------*/
.menuList li {   
    font-size: 1em;
}
#desktopMenu {
    margin-top: -30px;
}
#updatesSections h3 {
    font-size: 3vw
}
#albumPlayer {
    width: 55%;
}
#musicSectionShell h3, #musicPastShell h5 {
    font-size: 5vw;
}
}
@media screen and (max-width: 880px) {
#updatesSections h3 {
    font-size: 3vw
}
#albumPlayer {
    width: 75%;
}
#musicSectionShell h3, #musicPastShell h5 {
    font-size: 5vw;
}
}
@media screen and (max-width: 725px) {
#desktopMenu {
    margin-top: -30px;
}
.menuList li {
    font-size: 1em;
}
#listenNow {
    width: 210px;
}
.showItemContainer {
    width: 80%;
}
#albumPlayer {
    width: 85%;
}
#musicSectionShell h3, #musicPastShell h5 {
    font-size: 6vw;
}
#updatesSections h3 {
    font-size: 4vw
}
#getUpdatesButton {
    width: 150;
}
}
@media screen and (max-width:564px) {
#getUpdatesButton {
    margin-left: 0px;
    margin-top: 10px;
}
}
@media screen and (max-width: 600px) {
.menuList {
    display: none;
}
#mobileMenuLinks {
     display: flex;
}
#navBar {
    height: 8vh;
    width: 100%;
    z-index: 99;
}
#mobileMenu {
    position: absolute;
    display: inline-block;
    right: 10vw;
}
#menuBottom {
    margin-bottom: 35px;
}
.menuListM {
    position: absolute;
    height: 92vh;
    width: 60vw;
    right:0px;
    top: 8vh;
    background-color: #21222A;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    transform: translateX(100%);
}
.menuListM li {
    font-size: 1em;
    list-style: none;
    color: white;
    font-family: Oswald-Regular,sans-serif;
    text-transform: uppercase;
    padding: 20px;
}
.menuListM a {
     text-decoration: none;
     padding: 15px;
}
#albumImage img {
    height: 40vh;
}
#albumPlayer {
    width: 100%;
}
#musicSectionShell h3, #musicPastShell h5 {
    font-size: 7vw;
}
#updatesSections h3 {
    font-size: 6vw
}
#footerSocials a svg {
    margin: 0 10px;
}
}
@media screen and (max-width: 485px) {
#albumPlayer {
    width: 100%;
}
#musicSectionShell h3, #musicPastShell h5 {
    font-size: 8.5vw;
}
#footerSection p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}