@charset "UTF-8";
@font-face {
    font-family: Oswald-Regular;
    font-weight: 100;
    src: url('Oswald-Regular.ttf');
}
@font-face {
    font-family: Oswald-Light;
    font-weight: 100;
    src: url('Oswald-Light.ttf');
}
@font-face {
    font-family: Oswald-Medium;
    font-weight: 100;
    src: url('Oswald-Medium.ttf');
}
@font-face {
    font-family: Oswald-MediumItalic;
    font-weight: 100;
    src: url('Oswald-MediumItalic.ttf');
}
@font-face {
    font-family: Oswald-SemiBold;
    font-weight: 100;
    src: url('Oswald-SemiBold.ttf');
}
@font-face {
    font-family: Oswald-ExtraLight;
    font-weight: 100;
    src: url('Oswald-ExtraLight.ttf');
}
@font-face {
    font-family: Oswald-Bold;
    font-weight: 100;
    src: url('Oswald-Bold.ttf');
}
@font-face {
    font-family: Oswald-Heavy;
    font-weight: 100;
    src: url('Oswald-Heavy.ttf');
}
@font-face {
    font-family: Montserrat-Light;
    font-weight: 100;
    src: url('Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat-Regular;
    font-weight: 100;
    src: url('Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-Medium;
    font-weight: 100;
    src: url('Montserrat-Medium.ttf');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
    text-align: center;
    font-family: Montserrat-Regular, sans-serif;
    transition: .5s;
}
body {
    background-color: white;
    overflow-x: hidden;
}
::selection {
    background: #606E7D;
}
::-moz-selection {
    background: #606E7D;
}
#shell {
    width: 100%;
    height: 100%;
}
h2 {
    font-family: Oswald-SemiBold, sans-serif;
    font-size: 3vw;
}
/*------------Desktop------------*/
/*------Nav Bar------*/
#navBar {
    width: 100vw;
    height: 65px;
    background-color: #21222A;
    position: fixed;
    top: 0;
    z-index: 99;
}
#navBarShell {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#blurryLogo {
    height: 55%;
    margin-top: 15px;
    fill: white;
    transition: .05s;
}
#blurryLogo:hover {
    fill: #AE8862;
    transition: .05s;
    cursor: pointer;
}
#desktopMenu {
    width: 100%;
    margin-top: -35px;
}
#mobileMenuLinks {
    display: none;
}
.menuList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menuList a {
    text-decoration: none;
}
.menuList li:hover {
    color: #AE8862;
}
.menuList li {
    list-style: none;
    display: inline;
    color: white;
    font-family: Oswald-Regular,sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
}
#menuLeft {
    float: left;
    width: 40%;
}
#logoSpace {
    width: 13vw;
    opacity: 0;
    float: left
}
#menuRight {
    width: 40%;
    float: left;
}
/*------Mobile Nav------*/
#mobileMenu {
    display: none;
}
#mobileMenu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.toggle #line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle #line2 {
    opacity: 0;
    transition: .25s;
}
.toggle #line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
#mediaSectionShell {
    width: 100%;
    padding: 10vh 0 0 0;
}
#mediaImagesSection {
    width: 63%;
    padding-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    line-height: 0;   
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    column-count: 3;
    column-gap: 5px;
}
#mediaImagesSection img {
    width: 100%;
    height: auto;
    padding-top: 5px;
}
#mediaMusicSection {
    padding: 10vh 0 10vh;
    background-color: #606E7D;
    width: 100%;
    height: auto;
}
#firstVid {
    width: 70%;
    margin: 0 auto 5vh auto;
}
.videoContainerMain {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
.videoContainerMain iframe, .videoContainerMain object, .videoContainerMain embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#otherVids {
    width: 70%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 5vh auto;
}
.lowerVid {
    flex-basis: 49%;
}
#updatesSections {
    height: auto;
    width: 100%;
}
#updatesSections h3 {
    font-family: Oswald-SemiBold, sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    padding-top: 1vw; 
}
#updatesButton {
    padding-top: 1vw;
    padding-bottom: 2vw;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#getUpdatesButton {
    width: 175;
    height: 60px;
    background-color: #616F7E;
    color: white;
    font-family: Oswald-Regular, sans-serif;
    font-size: 30px;
    margin-left: 10px;
}
#getupdatesButton:hover {
    cursor: pointer;
    background-color: #AE8862;
}
#emailInput {
    border: solid 1.5px #21222A;
    text-align: left;
    padding: 5px;
    height: 60px;
}
/*------Footer------*/
#footerSection {
    background-color: #21222A;
    width: 100%;
}
#footerSocials {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}
#footerSocials a svg {
    height: 20px;
    margin: 0 20px;
}
#footerSection p {
    color: white;
    font-size: .75em;
    padding-bottom: 30px;
}
@media screen and (min-width: 880px) {
#mediaImagesSection img:hover {
    transform: scale(1.075);
}
}
@media screen and (max-width: 1150px ) and (min-width: 880px) {
/*------Nav Bar------*/
.menuList li {   
    font-size: 1em;
}
#desktopMenu {
    margin-top: -30px;
}
#mediaImagesSection {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}
#updatesSections h3 {
    font-size: 3vw
}
h2 {
    font-size: 5vw;
}
}
@media screen and (max-width: 880px) {
#mediaImagesSection {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
} 
#otherVids {
    width: 70%;
}
h2 {
    font-size: 5vw;
}
#updatesSections h3 {
    font-size: 3vw
}
.lowerVid {
    flex-basis: 100%;
    margin: 0 auto 5vh auto;
} 
}
@media screen and (max-width: 725px) {
#desktopMenu {
    margin-top: -30px;
}
.menuList li {
    font-size: 1em;
}
#listenNow {
    width: 210px;
}
.showItemContainer {
    width: 80%;
}
#mediaImagesSection {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
h2 {
    font-size: 6vw;
}
#updatesSections h3 {
    font-size: 4vw
}
#getUpdatesButton {
    width: 150;
}
}
@media screen and (max-width:564px) {
#getUpdatesButton {
    margin-left: 0px;
    margin-top: 10px;
}
}
@media screen and (max-width: 600px) {
.menuList {
    display: none;
}
#mobileMenuLinks {
     display: flex;
}
#navBar {
    height: 8vh;
    width: 100%;
    z-index: 99;
}
#mobileMenu {
    position: absolute;
    display: inline-block;
    right: 10vw;
}
#menuBottom {
    margin-bottom: 35px;
}
.menuListM {
    position: absolute;
    height: 92vh;
    width: 60vw;
    right:0px;
    top: 8vh;
    background-color: #21222A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(100%);
}
.menuListM li {
    font-size: 1em;
    list-style: none;
    color: white;
    font-family: Oswald-Regular,sans-serif;
    text-transform: uppercase;
    padding: 20px;
}
.menuListM a {
     text-decoration: none;
     padding: 20px;
}
h2 {
    font-size: 7vw;
}
#mediaImagesSection {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}
#mediaImagesSection {
    width: 90%;
}
#updatesSections h3 {
    font-size: 6vw
}
#footerSocials a svg {
    margin: 0 10px;
}
}
@media screen and (max-width: 485px) {
#footerSection p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-size: 8.5vw;
}
.mediaItem {
    margin: 0;
}
}